.about {
    height: 100vh;
    display: none;
}

.about__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 40px;
}

.about__picture {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;
    margin-bottom: 20px;
    margin-left: 100px;
}

.about__text {
    margin-top: 50px;
    text-align: justify;
    min-width: 200px;
    width: 100%;
    line-height: 1.5;
    
}


