.about {
    height: 100%;
    display: none;
}

.col-6-12 {
    text-align: center;
}
.about__wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
    padding: 40px 0;
    background: #fff;
    border-radius: 10px;
    min-width: 300px;
    width: 100%;

}

.about__picture {
    max-width: 300px;
    width: 100%;
    height: auto;
    border-radius: 50%;

}

.about__text {
    text-align: justify;
    min-width: 200px;
    width: 80%;
    line-height: 1.5;
   
}



